/*background's color and container'shadow*/
body {
  background: #012f5a;
}
.container {
  background: #ffffff;
  box-shadow: 0px 0px 300px #ffffff;
  padding: 0px;

}

/*navigation bar*/
#navbar.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 15px;
  background: #111213; /* For browsers that do not support gradients */
  border: 0px;
}

/*navigation search box*/
#nav_search {
  margin: 15px 20px ;
  width: 150px;
}
#nav_search .btn {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 20px;
  padding: 0px 5px 0px 10px;
}
#nav_search .form-control {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 20px;
}

/*narvigation bar's links*/
#nav_menu {
  margin-right: 10px;
}
#nav_menu li a {
  color: #fff;
  text-transform: uppercase;
  font-family: serif;
  font-size: 11px;
  padding: 5px 10px;
}

#nav_menu li a:hover {
  color: #777;
}

/*back bar*/
#back_bar {
  background: #111213;
  padding: 30px 0px 30px 30px;
}
#quote {
  color: #a3a3a3;
  font-family: serif;
  font-size: 30px;
}

/*side bar*/
#side_bar {
  background: #ebebeb; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(180deg, #ebebeb, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(180deg, #ebebeb, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg, #ebebeb, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, #ebebeb, #ffffff); /* Standard syntax */
  padding: 0px 25px 0px 25px;
}
#shop, #next_events, #scoreboard {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*post sections*/
.row.post {
  margin: 20px 0px 30px 0px;
}
.row.post img {
  margin: 25px 0px 0px 15px;
  border: #ebebeb solid 5px;
}
.row.post .post_info {
  padding-left: 20px;
}
.row.post h2 {
  margin-bottom: 0px;
}
.row.post span {
  font-family: serif;
  font-size: 13px;
  color: #337ab7;
}
.row.post p {
  margin-top: 12px;
}
.row.post button.btn {
  background: #569fc4; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(180deg, #5aa7ce, #4681a0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(180deg, #5aa7ce, #4681a0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg, #5aa7ce, #4681a0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, #5aa7ce, #4681a0); /* Standard syntax */
  padding: 5px 40px 5px 40px;
  color: #ffffff;
  font-family: sans-serif;;
  font-size: 12px;
  font-weight: 600;
  text-shadow: 1px 1px #000000;
}
.row.post button.btn:hover {
  background: #569fc4; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(180deg, #4681a0, #5aa7ce); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(180deg, #4681a0, #5aa7ce); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg, #4681a0, #5aa7ce); /* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, #4681a0, #5aa7ce); /* Standard syntax */
}
ul#pagination.pagination {
  margin-left: 25px;
}
#pagination li{
margin: 0px 2px;
display: inline-block;
}
#pagination li a, #pagination li a#current_page:hover {
  background: #eeeeee;
  border: 0px;
  color: #9a9ab0;
  padding: 8px 12px;
  font-family: sans-serif;
  font-size: 11px;
}
#pagination li.active a {
  background: #c1c1c1;
  color: #ffffff;
}
#pagination li a:hover {
  background: #c1c1c1;
  color: #ffffff;
}

/*sponsors section*/
#sponsors_section {
  padding: 0px 25px;
}
.sponsor_logo {
  text-align: center;
}
#sponsors_section img {
  margin: 10px 0px 10px 0px;
  border: #ebebeb solid 5px;
}

/*footer*/
#footer {
  background: #111213;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
}
#footer_about {
  padding-left: 20px;
}
#footer_contact {
  padding-right: 20px;
}
#footer h2{
  color: #ffffff;
}
#footer h3 {
  color: #a3a3a3;
  font-family: serif;
  font-size: 16px;
  text-transform: capitalize;
}
#footer p {
  color: #6f6e6e;
  font-size: 14px;
  font-family: serif;
  margin-bottom: 10px;
}
#footer #footer_quote {
  color: #a3a3a3;
  font-family: serif;
  font-size: 13px;
}
#flickr_stream .row {
  padding: 0px 10px;
}
#flickr_stream .col-lg-4.col-md-4.col-sm-4 {
  padding: 0px;
}
#flickr_stream img {
  margin-bottom: 10px;
  border: #ebebeb solid 2px;
}
/*general typographies*/
h2 {
  font-family: serif;
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  text-transform: uppercase;
  font-family: serif;
  font-size: 15px;
}
p {
  font-family: serif;
  font-size: 14px;
  margin-bottom: 5px;
}
a {
  font-family: serif;
  font-size: 14px;
}
